[Unit]
Description=My Miscellaneous Service
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/prometheus/radosgw_usage_exporter.conf
ExecStart=/usr/bin/python ${INSTALL_DIR}/radosgw_usage_exporter.py -H ${RADOSGW_API_HOST} -a ${RADOSGW_API_KEY} -s ${RADOSGW_API_SECRET}

[Install]
WantedBy=multi-user.target

